<h2>Spanisches Sprachpaket für Magento Commerce</h2>
<p>(Magento Community Modules - Spanish (Spain) Language Pack)</p>
<p>(Paquete de idioma español para Magento Commerce)</p>

<h3>Wichtiger Hinweis zur Magento Version 1.9</h3>
<p>Magento Inc. hat mit der 1.9 ein eigenes, teilautomatisch übersetztes, Sprachpaket vorinstalliert. Wer das LocalePack_es_ES benutzen möchte, muss vorher den Ordner <strong>app/locale/es_ES</strong> löschen, damit dieses Sprachpaket installiert werden kann.</p>

<h4>Nota importante acerca Magento Versión 1.9</h4>
<p>Magento Inc. tiene con la versión 1.9 su propio, semi-automáticamente traducido, paquete de idiomas como preinstalado. El que quiere usar el LocalePack_es_ES, primero debe eliminar la carpeta <strong>app/locale/es_ES</strong> para que el paquete de idioma se puede instalar.</p>

<h3>Fehler gefunden?</h3>

<p>Fehler können auf GitHub gemeldet werden
<a href="https://github.com/MaWoScha/German_LocalePack_es_ES/issues">https://github.com/MaWoScha/German_LocalePack_es_ES/issues</a></p>

<h3>Mitarbeit erwünscht</h3>
<p>Informationen zum Sprachpaket finden sich im dazugehörigen GitHub-Repository unter<br />
<a href="https://github.com/MaWoScha/German_LocalePack_es_ES">https://github.com/MaWoScha/German_LocalePack_es_ES</a></p>
<p>Bei Mitarbeit am Sprachpaket <strong>bitte PullRequests immer für den preview-Branch</strong> schicken. Danke :-)</p>


<h3>unvollständiger ChangeLog</h3>
<ul>
<li><strong>0.1.0:</strong> Basisversion, only a Framework.</li>
<li><strong>0.2.0:</strong> Added: 1. Translated Magento Connect Downloader, 2. Language packages (*.csv) of Magento Version 1.9.0.x.</li>
<li><strong>0.3.0:</strong> Added: Translated TinyMCE Editor</li>
<li><strong>0.4.0:</strong> Added: Translated E-Mail-Templates (Magento Version 1.9.0.x) enhanced by three static blocks</li>
<li><strong>0.5.0:</strong> Update E-Mail-Templates to Magento v1.9.1.x (including three static blocks)</li>
<li><strong>0.6.0:</strong> Update: Language pack entries for Magento v1.9.1.x</li>
<li><strong>0.6.1:</strong> Language packages with enhanced translations / Mejora de traducción (Mage_Adminhtml.csv)</li>
<li><strong>0.6.2:</strong> Language packages with enhanced translations / Mejora de traducción (Mage_Catalog.csv)</li>
<li><strong>0.6.5:</strong> Language packages with enhanced translations / Mejora de traducción (Mage_Sales.csv, Mage_Core.csv, Mage_Customer.csv, Mage_Checkout.csv, Mage_Page.csv)</li>
<li><strong>0.6.6:</strong> Added: Translated TinyMCE Editor (autosave), E-Mail-Templates (amazonpayments_asp_notification_error.html)<br />
                            Language packages with enhanced translations / Mejora de traducción (Mage_Api.csv, Mage_Api2.csv, Mage_Eav.csv, Mage_Media.csv)</li>
<li><strong>0.6.7:</strong> Language packages with enhanced translations / Mejora de traducción (Mage_AmazonPayments.csv, Mage_Authorizenet.csv, Mage_Backup.csv, Mage_Bundle.csv, Mage_Captcha.csv, Mage_Media.csv, Mage_Shipping.csv)<br />
                            Correcciones typos, erratas y otras mejoras menores.</li>
<li><strong>0.6.8:</strong> Language packages with enhanced translations / Mejora de traducción (Mage_CatalogInventory.csv, Mage_CatalogRule.csv, Mage_CatalogSearch.csv, Mage_Centinel.csv, Mage_Cms.csv, Mage_Compiler.csv, Mage_Connect.csv, Mage_Contacts.csv)</li>
<li><strong>0.6.9:</strong> Language packages with enhanced translations / Mejora de traducción (Mage_Cron.csv, Mage_CurrencySymbol.csv, Mage_Dataflow.csv, Mage_Directory.csv, Mage_Downloadable.csv, Mage_GiftMessage.csv, Mage_GoogleAnalytics.csv, Mage_GoogleBase.csv, Mage_GoogleCheckout.csv, Mage_Log.csv, Mage_Poll.csv, Mage_Wishlist.csv)</li>
<li><strong>0.6.10:</strong> Language packages with enhanced translations / Mejora de traducción (Mage_Index.csv, Mage_Newsletter.csv, Mage_Oauth.csv, Mage_PageCache.csv, Mage_Paygate.csv)</li>
<li><strong>0.6.11:</strong> Language packages with enhanced translations / Mejora de traducción (Mage_ImportExport.csv, Mage_Rating.csv, Mage_Rss.csv, Mage_Rule.csv, Mage_Tax.csv, Mage_Weee.csv)</li>
<li><strong>0.6.12:</strong> Language packages with enhanced translations / Mejora de traducción (Mage_Install.csv, Mage_ProductAlert.csv, Mage_Reports.csv, Mage_Review.csv, Mage_SalesRule.csv, Mage_Sendfriend.csv)</li>
<li><strong>0.7.0:</strong> Fix downloader: Apply patch SUPEE-6285</li>
<li><strong>0.7.1:</strong> Language packages with enhanced translations / Mejora de traducción (Mage_PaypalUk.csv, Mage_Persistent.csv, Mage_Tag.csv, Mage_Widget.csv, Phoenix_Moneybookers.csv)</li>
<li><strong>0.7.2:</strong> Language packages with enhanced translations / Mejora de traducción (Mage_Payment.csv, Mage_Paypal.csv, Mage_Sitemap.csv, Mage_Usa.csv)</li>
<li><strong>0.7.3:</strong> Correciones para downloader</li>
<li><strong>0.7.3.5:</strong> Traducir TinyMCE-Editor</li>
<li><strong>0.8.0:</strong> Language packages with enhanced translations / Mejora de traducción (Mage_XmlConnect.csv)</li>
<li><strong>0.8.2:</strong> Miscellaneous small fixes and improvements, updates regarding Magento v1.9.2.3</li>
<li><strong>0.8.3:</strong> Update: Updates for Magento v1.9.3</li>
</ul>
