<div class="block block-subscribe">
    <div class="block-title">
        <strong><span><?php echo $this->__('Newsletter') ?></span></strong>
    </div>
    <form  action="<?php echo $this->getFormActionUrl() ?>" method="post" id="newsletter-validate-detail" onSubmit="return validateRecaptchanewsletter()">
        <div class="block-content">
            <div class="form-subscribe-header">
                <label for="newsletter"><?php echo $this->__('Sign Up for Our Newsletter:') ?></label>
            </div>
            <div class="input-box">
               <input type="email" autocapitalize="off" autocorrect="off" spellcheck="false" name="email" id="newsletter" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Sign up for our newsletter')) ?>" class="input-text required-entry validate-email" />
            </div>
            <div class="actions">
                <button type="submit" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Subscribe')) ?>" class="button"><span><span><?php echo $this->__('Subscribe') ?></span></span></button>
            </div>
            <?php if ($this->helper('recaptcha')->showOnNewsletter())
            { ?>
                <div id="rcode" class="recaptcha-code-newslatter" style="margin-top: 5px;float: left">
                    <div class="captchanewsletter">
                        <div class="g-recaptcha" data-sitekey="<?php echo $this->helper('recaptcha')->getKey(); ?>"
                             data-theme="<?php echo($this->helper('recaptcha')->getTheme()); ?>"></div>
                    </div>
                    <span id="captcha-requirednewsletter" style='display:none; margin-top:10px;color:#ff0000'>
                        <?php echo $this->__('Please Fill Recaptcha To Continue'); ?></span>
                </div>
            <?php } ?>
        </div>
    </form>
    <script type="text/javascript">
	 //<![CDATA[
        var newsletterSubscriberFormDetail = new VarienForm('newsletter-validate-detail');
		function validateRecaptchanewsletter() {
            <?php if($this->helper('recaptcha')->showOnNewsletter()){ ?>
            if (grecaptcha.getResponse() != "") {
                document.getElementById("captcha-requirednewsletter").style.display = "none";
                return true;
            } else {
                document.getElementById("captcha-requirednewsletter").style.display = "block";
                return false;
            }
            <?php } else { ?>
            return true;
            <?php } ?>
        }
    //]]>
    </script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
</div>