<?php
/**  Autor: Wolf Schmidt, 12.01.2018
 *  Schmidt Medienservice
 */
$inquiry = new Sms_Inquiry_Helper_Data();
?>

<section class="services-block">
    <div class="product-list row container">
        <h1 style="text-transform: uppercase;"><?php echo $this->__('Send inquiry') ?></h1>
        <?php
        $customer = Mage::getSingleton('customer/session')->getCustomer();
        if ($customer->getId()) {
            $wishlist = Mage::getModel('wishlist/wishlist')->getCollection()
                ->addFieldToFilter('customer_id', $customer->getId());
            $_wishlistData = $wishlist->getData();
            $wid = $_wishlistData[0]["wishlist_id"];
        } else {
            $wid = "";
        }

        if (!empty($wid)) {
            $wishlistItems = Mage::getModel('wishlist/item')->getCollection()
//                ->setWebsiteId($customer->getWebsiteId())
                ->addFieldToFilter('wishlist_id', $wid);
//            echo "<pre>";print_r($wishlistItems->getData());
        }
        $witems = $wishlistItems->getData();
        $askitem = array();
        foreach ($witems as $_askwitems) {
//            if ($inquiry->checkSent($_askwitems["product_id"]) == "False") {
                array_push($askitem, $_askwitems);
//            }
        }
        $anzahl = count($askitem);
        $i = 0;
        ?>
        <form id="inquiry" action="/inquiry/sendinquiry?wishlistId=<?php echo $wid; ?>" method="post">
            <table class="data-table" id="inquiry-table">
                <thead>
                <tr class="first last">
                    <th>Artikeldetails</th>
                    <th>Ihre Anfrage</th>
                    <th>Anzahl</th>
                </tr>
                </thead>
                <tbody>


                <?php foreach ($askitem as $_witems) { ?>
                    <?php if ($i < $anzahl) : ?>
                        <?php $check = $inquiry->checkSent($_witems["product_id"], $wid); ?>
<!--                        --><?php //if ($check == "False") { ?>
                            <?php $product = Mage::getModel("catalog/product")->load($_witems["product_id"]); ?>
                            <input type="hidden" name="product_id[<?php echo $_witems["wishlist_item_id"]; ?>]"
                                   value="<?php echo $_witems["product_id"]; ?>">
                            <input type="hidden" name=wishlist_item_id[<?php echo $_witems["product_id"]; ?>]"
                                   value="<?php echo $_witems["wishlist_item_id"]; ?>">
                            <tr id="item_<?php echo $_witems["wishlist_item_id"]; ?>" class="first odd">
<!--                                <td><img src="--><?php //echo $product->getImageUrl(); ?><!--" width="113" height="113" alt="">-->
<!--                                </td>-->
                                <td style="width: 320px;"><?php echo $product->getShortDescription(); ?></td>
                                <td><textarea class="sms-tab" cols="50" rows="6"
                                              name="comment[<?php echo $_witems["wishlist_item_id"]; ?>]"><?php echo $inquiry->getComment($_witems["wishlist_item_id"]); ?></textarea>
                                </td>
                                <td><input type="number" name="amount[<?php echo $_witems["wishlist_item_id"]; ?>]"
                                           value="<?php echo number_format($_witems["qty"], 0); ?>"
                                           style="width: 50px;"></td>
                            </tr>
<!--                        --><?php //} ?>
                        <?php $i++;
                    endif;
                } ?>
                </tbody>
            </table>
            <br>
            <button type="submit" class="button btn-share" style="float: right;" name="sendInquiry"
                    value="Anfrage senden">Anfrage senden
            </button>
        </form>

    </div>
</section>
<script type="text/javascript">
    document.getElementById("inquiry").submit();
</script>

<div class="clearfix"></div>