<?php
/**  Autor: Wolf Schmidt, 12.01.2018
 *  Schmidt Medienservice
 */
$inquiry = new Sms_Inquiry_Helper_Data();
$wishlistId = $_REQUEST["wishlistId"];
?>

<section class="services-block">
    <div class="product-list row container" >
                <h1 style="text-transform: uppercase;"><?php  echo $this->__('Inquiry sent') ?></h1>
        <?php
        $customer = Mage::getSingleton('customer/session')->getCustomer(); ?>
        <?php $inquiry->sendInquiry($_POST, $customer->getId(), $wishlistId); ?>
        <p class="success">Ihre Anfrage wurde gesendet.</p>
        <p>Vielen Dank für Ihr Interesse an unseren Produkten. Wir werden Ihre Anfrage so schnell wie möglich bearbeiten und setzen uns dann mit Ihnen in Verbindung.</p>
        <p class="name">Ihr Leder-Rusch Team</p>

        </div>
    </section>


<div class="clearfix"></div>