<!--@subject Email - Support @-->
<p>
    Falls Sie Fragen oder Anregungen haben, kontaktieren Sie uns bitte wahlweise per E-Mail
    <a href="mailto:{{var store_email}}">{{var store_email}}</a> oder auch per Telefon unter der Rufnummer 040 / 37 08 55 15.
</p>
