<?php
/**
 * Customer login form template
 *
 * @see app/design/frontend/base/default/template/customer/form/login.phtml
 */
/** @var $this Mage_Customer_Block_Form_Login */
?>
<div class="account-login<?php if (!$this->helper('customer')->isRegistrationAllowed()) echo ' login-only' ?>">
    <div class="page-title">
        <h1><?php if ($this->helper('customer')->isRegistrationAllowed()): ?>
                <?php echo $this->__('Loggen Sie sich ein') ?>
            <?php else: ?>
                <?php echo $this->__('Login'); ?>
            <?php endif; ?></h1>
    </div>
    <?php echo $this->getMessagesBlock()->toHtml() ?>
    <form action="<?php echo $this->getPostActionUrl() ?>" method="post" id="login-form" class="scaffold-form" onSubmit="return validateRecaptcha()" >
        <?php echo $this->getBlockHtml('formkey'); ?>
        <div class="col2-set">
            <?php // if ($this->helper('customer')->isRegistrationAllowed()): ?>
<!--            <div class="col-1 new-users">
                <div class="content">
                    <h2><?php echo $this->__('New Here?') ?></h2>
                    <p class="form-instructions"><?php echo $this->__('Registration is free and easy!') ?></p>
                    <ul class="benefits">
                        <li><?php echo $this->__('Faster checkout') ?></li>
                        <li><?php echo $this->__('Save multiple shipping addresses') ?></li>
                        <li><?php echo $this->__('View and track orders and more') ?></li>
                    </ul>
                </div>
                <div class="buttons-set">
                    <a title="<?php echo $this->quoteEscape($this->__('Create an Account')) ?>" class="button" href="<?php echo Mage::helper('persistent')->getCreateAccountUrl($this->getCreateAccountUrl()) ?>"><span><span><?php echo $this->__('Create an Account') ?></span></span></a>
                </div>
            </div>-->
            <?php // endif; ?>
            <?php // This column should be col-1 if the registration column is not displayed ?>
            <div class="col-1">
                <div class="content fieldset">
                    <h2><?php // echo $this->__('Already registered?') ?></h2>
                    <p class="form-instructions"><?php // echo $this->__('If you have an account with us, please log in.') ?></p>
                    <p class="required"><?php // echo $this->__('* Required Fields') ?></p>
                    <ul class="form-list">
                        <li>
                            <label for="email" class="required"><em>*</em><?php echo $this->__('Email Address') ?></label>
                            <div class="input-box">
                                <input type="email" autocapitalize="off" autocorrect="off" spellcheck="false" name="login[username]" value="<?php echo $this->escapeHtml($this->getUsername()) ?>" id="email" class="input-text required-entry validate-email" title="<?php echo $this->quoteEscape($this->__('Email Address')) ?>" />
                            </div>
                        </li>
                        <li>
                            <label for="pass" class="required"><em>*</em><?php echo $this->__('Password') ?></label>
                            <div class="input-box">
                                <input type="password" name="login[password]" class="input-text required-entry validate-password" id="pass" title="<?php echo $this->quoteEscape($this->__('Password')) ?>" />
                            </div>
                        </li>
                           <?php if ($this->helper('recaptcha')->showOnLogin()) { ?>
                   		 <li id="rcode">
                       		 <div class="captcha">
                           		 <div class="g-recaptcha" data-sitekey="<?php echo $this->helper('recaptcha')->getKey(); ?>"
                                 data-theme="<?php echo($this->helper('recaptcha')->getTheme()); ?>"></div>
                       		 </div>
                       		 <span id="captcha-required"
                              style='display:none; color:#ff0000'><?php echo $this->__('Please Fill Recaptcha To Continue'); ?></span>
                   		 </li>
              		 <?php } ?>
                        <?php echo $this->getChildHtml('form.additional.info'); ?>
                        <li>
                            <a href="<?php echo $this->getForgotPasswordUrl() ?>" class="f-left"><?php echo $this->__('Forgot Your Password?') ?></a>
                        </li>
                        <?php echo $this->getChildHtml('persistent.remember.me'); ?>
                    </ul>
                    <?php echo $this->getChildHtml('persistent.remember.me.tooltip'); ?>
                </div>
                <div class="buttons-set">
                    <button type="submit" class="button" title="<?php echo $this->quoteEscape($this->__('Einloggen')) ?>" name="send" id="send2"><span><span><?php echo $this->__('Einloggen') ?></span></span></button>
                </div>
            </div>
        </div>
        <?php if (Mage::helper('checkout')->isContextCheckout()): ?>
            <input name="context" type="hidden" value="checkout" />
        <?php endif; ?>
    </form>
    <script type="text/javascript">
	 function validateRecaptcha() {
            <?php if($this->helper('recaptcha')->showOnLogin()){ ?>
            if (grecaptcha.getResponse() != "") {
                document.getElementById("captcha-required").style.display = "none";
                return true;
            } else {
                document.getElementById("captcha-required").style.display = "block";
                return false;
            }
            <?php } else { ?>
            return true;
            <?php } ?>
        }
    //<![CDATA[
        var dataForm = new VarienForm('login-form', true);
    //]]>
    </script>
      <script src='https://www.google.com/recaptcha/api.js'></script>
</div>